<!-- templates/home.html -->
{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}


{% block body %}
<div class="text-center custom-box"
        style="background-color:#dee2e6; border-radius:1rem; box-shadow:0 4px 12px rgba(0,0,0,0.15);">
    <h1>About Us</h1>
    <p>CampusPoint is a student‑centered platform built within the university community, designed to foster collaboration and exploration in technology. Our mission is to empower students by providing a space where future software engineers, data scientists, designers, and other tech career enthusiasts can engage in meaningful discussions, share knowledge, and work on projects together. Inspired by the collaborative spirit of campus life, CampusPoint integrates forums, project boards, and role‑based career resources to help students connect with peers and faculty around shared interests in technology. More than just a portal, it’s a digital hub where university students can learn, build, and grow as part of a vibrant tech‑driven community.</p>
{% endblock %}