{% extends 'layout.html' %}

{% block body %}
<div class="container vh-100 d-flex justify-content-center align-items-center">
    
    <div class="col-md-6 col-lg-4">
        <div class="card shadow">

            <!-- Header -->
            <div class="card-header text-center bg-dark text-white">
                <h4 class="mb-0">CampusPoint</h4>
            </div>

            <!-- Body -->
            <div class="card-body p-4">

                <h2 class="text-center mb-4">Register</h2>

                {% from "includes/_formhelpers.html" import render_field %}

                <form method="POST" action="">
                    
                    
                    <div class="mb-3">
                        {{ render_field(form.name, class="form-control", placeholder="Enter your name") }}
                    </div>

                    <div class="mb-3">
                        {{ render_field(form.email, class="form-control", placeholder="Enter your email") }}
                    </div>

                    <div class="mb-3">
                        {{ render_field(form.username, class="form-control", placeholder="Enter username") }}
                    </div>

                    <div class="mb-3">
                        {{ render_field(form.password, class="form-control", placeholder="Enter password") }}
                    </div>

                    <div class="mb-3">
                        {{ render_field(form.confirm, class="form-control", placeholder="Confirm password") }}
                    </div>

                    <button type="submit" class="btn btn-dark w-100">
                        Register
                    </button>

                </form>

            </div>

        </div>
    </div>

</div>
{% endblock %}